version: "3.8"

services:

  compressa-pod:
    image: compressa/compressa-pod:0.3.10
    ports:
      - "5000:5000"
      - "5100:5100"
    environment:
      - DISABLE_AUTODEPLOY=False
      - HF_TOKEN=${COMPRESSA_API_KEY:-hf_token}
      - HOSTNAME=${HOSTNAME}
    volumes:
      - ./deploy-config.json:/configs/deploy.json
      - "${RESOURCES_PATH:-./resources}:/app/resources:rw"
      - "${HF_HOME}/:/home/compressa/.cache/:rw"
    container_name: ${HOSTNAME}


  compressa-client-chat:
    build:
      context: ../..
      dockerfile: services/ui/Dockerfile
    image: compressa/compressa-ui:0.3.10
    environment:
      - COMPRESSA_POD=http://compressa-pod:5000/v1
    ports:
      - "8501:8501"
    command: >
      client/chat/main.py
      --server.port=8501
      --server.address=0.0.0.0
      --server.baseUrlPath=/chat
